body{
  /* background-image: url(
    "https://images.pexels.com/photos/904177/pexels-photo-904177.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1000"
  );
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #2cccc4;
  font-Family: KoHo;
 }

 @font-face {
  font-family: 'KoHo';
  src: local('KoHo'), url(./KoHo/KoHo-Regular.ttf) format('truetype');
}
 


 .nav-link{
  font-family: KoHo;
   margin: 0% 3%;
   text-decoration: none;
   color: rgb(94, 0, 37);
   text-align: center;
   font-size: larger;
   font-weight: bold;
   text-shadow: 1px 1px 2px white;
 }
  .nav-link:hover{
    text-decoration: underline;
    color: rgb(255, 255, 255);
    text-shadow: 2px 1px 2px rgb(94, 0, 37);

  }
  .sins{
    color: black;
    text-shadow: 1px 1px 1px rgb(156, 156, 156);
  }
  .sins:hover{
    color: rgb(94, 0, 37);
    text-shadow: 2px 1px 2px white;
    text-decoration: none;

  }
.sin{
  color: rgb(0, 132, 255);
  background-Color:white;
  font-weight:bold;
  border:rgb(0, 132, 255) 2px; 
  box-shadow: 2px 2px 2px white;
}
.sin:hover{
  background-color: rgba(22, 141, 252, 0);
  color: rgb(94, 0, 37);
}
.reg{
  padding-top: 1%;
  margin-bottom: 0.5%;
  padding-left: 12%;
  /* background-image: url("https://images.pexels.com/photos/1888000/pexels-photo-1888000.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1000");
  background-size: cover;
  background-position-y: center; */
  color:rgb(94, 0, 37);
background-image: url('./components/img.jpeg');
background-position-x: center;
background-size: contain;
box-shadow: 8px 8px 18px rgb(224, 224, 224);
}


form{
  text-align: center;
  margin: 6% 1%;

}
.gs{
  background-color:rgb(221, 75, 57);
}

.fs{
  background-color: rgb(59, 89, 152);
}
  .bs{
  font-size: 90%;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  position: relative;
  padding: 0% 15%;
  margin: auto;
  line-height: 2px;
  transition: all 0.5s;
  cursor: pointer;
}

.bs span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.bs span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  transition: 0.5s;
}

.bs:hover span {
  padding-right: 15%;
  color: white;
}

.bs:hover span:after {
  opacity: 1;
  right: 0;
  color: white;

}
label{
  text-align: start;
  margin-left: 17%;
  font-weight: bolder;
}
.hello{
height: 500px;
width: 100%;
margin-top: -20%;
}
.btn-social-icon{
  color: white;
}
 .footer{
 background-color: white;
  color: #0e98aa;
  font-weight: bold;
  font-Family: KoHo;
  margin: 0px;
  padding: 0%;
  max-width: max-content;
 }  
 
 .log{
  padding:0.48% 31.5%;
  margin-left: 81%;
  width: 100%;
 }

 @media (max-width: 1300px){
  .hello{
    height: 100%; 
    width: 100%;
    margin: 0%;
    
    }}
@media (max-width: 1200px){
    .nav-link{
      font-size: medium;
    }
    .container{
      padding: 0%;
      margin: 2%;
    }
    .bs{
      width: 100%;
      font-size: 5%;
    }
    Form{
    font-size: 12px;
    font-weight: bold;
    padding: 0ch;
    }
    /*.gs{
      margin-top: -85%;
      margin-bottom: -315%;
      margin-left: 200%;
    }
    .fs{
      margin-top: 15%;
      margin-left: 75%;
    } */
    .log{
      margin-left: 0%;

    }

}